body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
}

#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
}

.cell{
    font-size: 30px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}